{% extends '::layout.html.twig' %}

{% block content %}

	{% for key, messages in app.session.flashbag.all() %}
		{% for message in messages %}
			<div class="alert alert-{{ key }}">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}
	
	{% block body %}
	{% endblock %}

{% endblock %}
